<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0,
           minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Infoken Home Page</title>
    <link rel="stylesheet" href="/Styles/main.css">
</head>
<body>


<header>
    <div class="header-container">
        <a class="a-logo" href="/">
            <div class="logo-container">
                <img width="80" height="80" src="/Images/Stages and others/infoken Logo.png">
                Infoken App
            </div>
        </a>

        <div class="header-right">

            <!--home-->
            <a href="/" class="a-home">
                <div class="home-container">
                    Home
                </div>
            </a>

            <!--Objective-->
            <a href="#" class="a-objective">
                <div class="objective-container">
                    Objective
                </div>
            </a>
            <!--talkshows-->
            <a href="#" class="a-talkshows">
                <div class="talkshows-container">
                    Talk-Shows
                </div>
            </a>
            <!--photos-->
            <a href="#" class="a-photos">
                <div class="photos-container">
                    Photos
                </div>
            </a>

            <!--about-->
            <a href="#" class="a-about">
                <div class="about-container">
                    About
                </div>
            </a>

        </div>

        <div class="login-container">
            <a href="login" class="a-login">
                <div class="login-container2">
                    Log in
                </div>
            </a>
        </div>


    </div>
</header>
<section>

    {{{body}}}
</section>

<footer>
    <div class="contact">
        <h1>Contact US</h1>
        <h3>Location : Arbaminch University Main Campus</h3>
        <h3>Phone number : 0933882277</h3>
        <h3>Email : contact@Infoken.net</h3>
        <h3>Facebook: Infoken_Media</h3>
        <h3>Telegram : t.me/Infoken_Media</h3>
        <h3>Youtube : you.tube.com/Infoken_video</h3>
    </div>
    <div class="contact-developer">
        <h1>Contact Developers</h1>
        <h3>Phone number : 0933882277</h3>
        <h3>Email : contact@Infoken.net</h3>
        <h3>Facebook: Infoken_Media</h3>
        <h3>Telegram : t.me/Infoken_Media</h3>
        <h3>Youtube : you.tube.com/Infoken_video</h3>
    </div>
</footer>

<!--<script src="Scripts/main.js"></script>-->
</body>
</html>