<link rel="stylesheet" href="Styles/home_books.css">
<link rel="stylesheet" href="Styles/home.css">
<div class="Home-container">

    <div class="Photo_trend">
        <h1>Some Photos From Infoken Gallery</h1>
        <div class="photo-slider">

            <div class="left-button">
                <button class="button-left">
                    <img src="Images/Other/back.png">
                </button>
            </div>

            <div class="photos-div">
                <img class="photos" src="Images/1.jpg">
            </div>

            <div class="right-button">
                <button class="button-right">
                    <img src="Images/Other/back.png">
                </button>
            </div>
        </div>
    </div>


    <div class="Talk-shows">
        <h1>Infoken Talk Shows</h1>
        <div class="brochures">
            <a href="#">
                <div class="one-brochure">
                    <img src="Images/Stages%20and%20others/add_user_stage.png">
                    <h1>Last Week Talk Show</h1>
                    <p>The last talk show was host on the sunday.<br>
                        The topic was "The fundamental requirements to join<br>
                        the university is beyound the ability of Ethiopian<br>
                        Students.
                    </p>
                </div>

            </a>
            <a href="#">
                <div class="one-brochure">
                    <img src="Images/Stages%20and%20others/add_user_stage.png">
                    <h1>Last Week Talk Show</h1>
                    The last talk show was host on the sunday.<br>
                    The topic was "The fundamental requirements to join<br>
                    the university is beyound the ability of Ethiopian<br>
                    Students.

                </div>

            </a>
            <a href="#">
                <div class="one-brochure">
                    <img src="Images/Stages%20and%20others/add_user_stage.png">
                    <h1>Last Week Talk Show</h1>
                    <p>The last talk show was host on the sunday.<br>
                        The topic was "The fundamental requirements to join<br>
                        the university is beyound the ability of Ethiopian<br>
                        Students.
                    </p>
                </div>

            </a>

        </div>
    </div>

    <div class="Infoken-Books">
        <h1>Infoken Books</h1>
        <div class="books">
            <a href="#">
                <div class="one-book">
                    <img src="Images/Stages%20and%20others/add_user_stage.png">
                    <h1>Book of The Week</h1>
                    <p>The last talk show was host on the sunday.<br>
                        The topic was "The fundamental requirements to join<br>
                        the university is beyound the ability of Ethiopian<br>
                        Students.
                    </p>
                </div>
            </a>

            <a href="#">
                <div class="one-book">
                    <img src="Images/Stages%20and%20others/add_user_stage.png">
                    <h1>New Book, This Week</h1>
                    The last talk show was host on the sunday.<br>
                    The topic was "The fundamental requirements to join<br>
                    the university is beyond the ability of Ethiopian<br>
                    Students.
                </div>
            </a>

            <a href="#">
                <div class="one-book">
                    <img src="Images/Stages%20and%20others/add_user_stage.png">
                    <h1>Mostly Read Book</h1>
                    <p>The last talk show was host on the sunday.<br>
                        The topic was "The fundamental requirements to join<br>
                        the university is beyound the ability of Ethiopian<br>
                        Students.
                    </p>
                </div>

            </a>

        </div>
    </div>

</div>

<script src="Scripts/home.js"></script>