<link rel="stylesheet" href="/Styles/newRent.css">
<title>New Rent</title>
<div class="newAdmin-container">
    <div class="Top-container">
        <div class="left-top">
            <img src="/Images/Stages%20and%20others/infoken%20Logo.jpg">
            <div>
                <h1>Infoken App</h1>
            </div>
        </div>
        <div class="right-top">
            <div class="admin-names">
                <h1 style="color: blue">{{admin_username}}</h1>
                <h2>{{admin_fullname}}</h2>
            </div>
            <img class="admin-photo"
                 src="/Images/People%20Face%20Photo/face%204.jpg">
        </div>
    </div>

    <div class="rent-container">
        <div class="rent-message">
            <h1 class="student-name">Student name</h1>
            <h1 style="color: green">Rents</h1>
            <h1 class="book-name">Book Title</h1>
            <button class="button-rent">
                <img src="/Images/search.png">
                <h1>Rent</h1>
            </button>
        </div>

        <div class="rent">
            <div class="select-student">
                <div class="search-student">
                    <input type="text" class="student-search-input" placeholder="search students...">
                    <button class="student-search-button">Search Student</button>
                </div>
                <div class="student-table">
                    <table>
                        <tr>
                            <th>Check</th>
                            <th>Firstname</th>
                            <th>Lastname</th>
                            <th>Department</th>
                            <th>Student ID</th>
                            <th>Dorm</th>
                            <th>Phone Number</th>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="select-book">
                <div class="search-book">
                    <input type="text" class="search-book-input"  placeholder="search books ...">
                    <button class="search-book-button">Search Book</button>
                </div>
                <div class="book-table">
                    <table>
                        <tr>
                            <th>Check</th>
                            <th>Title</th>
                            <th>Category</th>
                            <th>Author</th>
                            <th>Quantity</th>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
    </div>

</div>
<script src="/Scripts/newRent.js"></script>
<script src="/Scripts/rent/newRent.js"></script>